:root {
  --main-color: #0070f3;
  --black-color: rgb(19, 19, 19);
  --white-color: rgb(245, 251, 255);
  --text-color: var(--white-color);
  --title-color: var(--black-color);
  --bg-color: var(--white-color);
  --hover-color: rgba(0, 118, 255, 0.9);
  --hover-bg-color: #0070f3;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #4b9bf7;
    --text-color: rgb(19, 19, 19);
    --title-color: rgb(245, 251, 255);
    --bg-color: var(--black-color);
    --hover-color: rgba(0, 118, 255, 0.9);
    --hover-bg-color: #9cc8fa;
  }
}
